force-app/main/default/flows/Session_Based_Permission_Set_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Activate</name>
        <label>Activate</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <actionName>activateSessionPermSet</actionName>
        <actionType>activateSessionPermSet</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>PermSetName</name>
            <value>
                <elementReference>permissionSetName</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Deactivate</name>
        <label>Deactivate</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <actionName>deactivateSessionPermSet</actionName>
        <actionType>deactivateSessionPermSet</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>PermSetName</name>
            <value>
                <elementReference>permissionSetName</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Is_Activate_Action</name>
        <label>Is Activate Action?</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Activate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate</targetReference>
            </connector>
            <label>Yes, Activate</label>
        </rules>
        <rules>
            <name>No_Deactivate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deactivate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate</targetReference>
            </connector>
            <label>No, Deactivate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Session-Based Permission Set: Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Session-Based Permission Set: Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Activate_Action</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>permissionSetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
